<div class="centered">
  <h1><img class="h-icon" src="/conta.png"></h1>
  <h3>Consumo: <span id="KWhmes"><%=@KWhmes%></span> kWh/mês</h3>
  <h3>Valor: R$ <span id="Conta"><%=@Conta%></span></h3>
</div>
