<div class="centered">
  <h1><img class="h-icon" src="/ventilador.png"></h1>
  <br>
  <button class="btn btn-md md-control-btn" id="fan-button-1">Ligar Fan</button>
  <br>
  <br>
  <button class="btn btn-md md-control-btn" id="fan-button-2">Ligar Fan</button>
</div>
