<div class="centered">
  <h1><img class="h-icon" src="/ventilador.png"></h1>
  <br>
  <button onclick="command('m');getData()" class="btn btn-md md-control-btn toggle-btn" id="fan-button-m">Ligar Fan</button>
  <br>
  <br>
  <button onclick="command('n');getData()" class="btn btn-md md-control-btn toggle-btn" id="fan-button-n">Ligar Fan</button>
</div>
