<div class="centered">

<button class="btn btn-lg" id="onoff-button">
    <div class="half-div">
      <i class="fa fa-power-off"></i>
    </div>
    <div class="half-div">
      <p>Ligar</p>
      <p>Dispositivo</p>
    </div>
</button>
<br>
<br>
<p>
Mussum ipsum cacilds, vidis litro abertis.
Consetis adipiscings elitis.
</p>
<p>
Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
Interagi no mé, cursus quis, vehicula ac nisi.
</p>

</div>
